.venv/

data/features/*.pt

data/images/*.jpg
data/images/*.JPG
data/images/*.jpeg
data/images/*.JPEG
data/images/*.png
data/images/*.PNG
data/images/*.gif
data/images/*.GIF
data/images/*.bmp
data/images/*.BMP
data/images/*.tiff
data/images/*.TIFF

results/images/cluster-images/*.png

data/labels/*.txt

src/__pycache__/

src/test.py