.venv/

data/features/*.pt
added-data/features/*.pt
augmented-data/features/*.pt

data/images/*.jpg
data/images/*.JPG
data/images/*.jpeg
data/images/*.JPEG
data/images/*.png
data/images/*.PNG

added-data/images/*.jpg
added-data/images/*.JPG
added-data/images/*.jpeg
added-data/images/*.JPEG
added-data/images/*.png
added-data/images/*.PNG

augmented-data/images/*.jpg
augmented-data/images/*.JPG
augmented-data/images/*.jpeg
augmented-data/images/*.JPEG
augmented-data/images/*.png
augmented-data/images/*.PNG

data/labels/*.txt
added-data/labels/*.txt
augmented-data/labels/*.txt

results/images/default-cluster-images/*.png
results/images/added-cluster-images/*.png
results/images/augmented-cluster-images/*.png

yolo/data-sets-division

src/__pycache__/

src/test.py
results/test/