.venv/
data/features/images-features/*.pt
data/features/zoomed-images-features/*.pt
data/images/*.jpg
data/images/*.JPG
data/images/*.jpeg
data/images/*.JPEG
data/images/*.png
data/images/*.PNG
data/labels/*.txt
data/zoomed-images/*.jpg
data/zoomed-images/*.JPG
data/zoomed-images/*.jpeg
data/zoomed-images/*.JPEG
data/zoomed-images/*.png
data/zoomed-images/*.PNG
data/images_names.txt
src/__pycache__/
src/test.py