table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid #ccc;
    width: 15vw;
    padding: 20px;
    text-align: center;
}

td img {
    max-width: 100%;
    max-height: 180px;
    margin-bottom: 10px;
}

td button {
    display: block;
    margin: 10px auto 0 auto;
}