

section {
    margin: auto;
    width: 85%;
    max-width: 1000px;
    margin-bottom: 3rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

section h2 {
    color: #1e3a8a;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

img {
    width: 500px;
    height: auto;
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
}

section p, section ul {
    font-size: 1rem;
    color: #555;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

section ul li {
    margin-bottom: 0.5rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery img {
    width: 40%;
    border-radius: 8px;
    border: 2px solid #ddd;
}


pre {
    text-align: left;
    background-color: #f8fafc;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    overflow-x: auto;
}
