
{% extends "base.html" %}

<!-- ========================================================================== -->

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='predict_style.css') }}">
{% endblock %}

<!-- ========================================================================== -->

{% block content %}

    <!-- upload the image -->

    <h2>Predict</h2>
    
    <form method="POST" enctype="multipart/form-data">
        <label for="image">Upload a photo:</label>
        <input id="photo_input" type="file" name="image" accept="image/*">
    </form>

    <a class="choose_from_samples_buttons" href="{{ url_for('choose_from_samples') }}">Choose from samples</a>

    <hr>

    <!-- results visualization -->

    <div class="main_layout">
        <div class="button_panel">
            <button id="toggle_keypoints" onclick="toggle_keypoints()">
                <img class="icon" src="/static/images/icons/eye-hidden.svg">
                <span>Keypoints</span>
            </button>
            <button type="button" id="toggle_bounding_box" onclick="toggle_bounding_box()">
                <img class="icon" src="/static/images/icons/eye-hidden.svg">
                <span>Bounding Box</span>
            </button>
            <button type="button" id="toggle_play_area" onclick="toggle_play_area()">
                <img class="icon" src="/static/images/icons/eye-hidden.svg">
                <span>Play Area</span>
            </button>
            <button type="button" id="toggle_edges" onclick="toggle_edges()">
                <img class="icon" src="/static/images/icons/eye-hidden.svg">
                <span>Edges</span>
            </button>
            <button type="button" id="toggle_player_lines" onclick="toggle_player_lines()">
                <img class="icon" src="/static/images/icons/eye-hidden.svg">
                <span>Player Lines</span>
            </button>
            <button type="button" id="translate_position" onclick="translate_position()">Translate Position</button>
            <p id="message"></p>
        </div>
        
        <canvas id="photo_canvas"></canvas>

        <canvas id="reference_canvas"></canvas>

    </div>

{% endblock %}

<!-- ========================================================================== -->

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='predict_script.js') }}"></script>
{% endblock %}